<%- include('partials/header') %> <%- include('partials/navbar') %>

<section class="all-camps">
  <h1>All Campgrounds</h1>
  <div style="margin-bottom: 5rem;" class="campgrounds">
    <% for(let camp of campgrounds) { %>
    <a href="/campgrounds/<%= camp._id %>">
     
      <div style="height: 300px;" id="camp" class="camp">
      
         
          <img height="100%" src="<%= camp.image[0].url%>" alt="...">
          
       
          
   

        <div id="desc" class="camp-desc">
          <h2><%= camp.title %></h2>
          <h3><%= camp.location %></h3>
          <div class="more-icon"><i class="fa-solid fa-angle-right"></i></div>
        </div>
      </div>
    </a>
   
    <% } %>
  </div>
</section>
<script>
 

 const camps = document.querySelectorAll('#camp');

camps.forEach((camp) => {
  const desc = camp.querySelector('#desc');
  desc.style.display = 'none';

  camp.addEventListener('mouseover', () => {
    desc.classList.add('visible');
    desc.style.display = 'block';
  });

  camp.addEventListener('mouseout', () => {
    desc.classList.remove('visible');
    desc.style.display = 'none';
  });
});

camps.forEach((camp) => {
  const desc = camp.querySelector('#desc');
  desc.style.display = 'none';

  camp.addEventListener('touchstart', () => {
    desc.classList.add('visible');
    desc.style.display = 'block';
  });

  camp.addEventListener('touchend', () => {
    desc.classList.remove('visible');
    desc.style.display = 'none';
  });
});
</script>

<%- include('partials/footer') %>
