<%- include('partials/header') %> <%- include('partials/navbar') %>

  <div class="all-camps">
    <h1>Edit Campground <a style="color: white;" href="/campgrounds"><i class="fa-solid fa-left-long"></i> All Camps!</a></h1>
  </div>
  <div class="container">
    <form id="myForm" action="/campgrounds/<%= camp._id%>?_method=PUT" method="POST">

      <h2>Edit Campground</h2>
      <div class="form-sec-left">

     
      <input class="inputs" type="text" name="campground[title]" placeholder="Enter a title" value="<%= camp.title %>">

      <input class="inputs" type="text" name="campground[location]" placeholder="Enter a location" value="<%= camp.location %>">

      <textarea class="inputs" name="campground[description]" placeholder="Enter a description"><%= camp.description %></textarea>
    </div>
    <div class="form-sec-right">

    

      <input class="inputs" type="text" name="campground[price]" placeholder="Enter a price" value="<%= camp.price %>">

      <input class="inputs" type="text" name="campground[url]" placeholder="Enter a url" value="<%= camp.url %>">
      <button class="btn" type="submit">Update</button>
    </div>
    </form>
    <script src="/js/formvalid.js"></script>
  </div>
 



<%- include('partials/footer') %>